<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iRent</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="desktop" id="desktop">

            <div class="text-wrapper">
                <div class="title" data-content="OOPS">
                    OOPS
                </div>
            
                <div class="subtitle" data-content="This is Mobile-Only Website, use your mobile phone">
                    This is Mobile-Only Website, use your mobile phone.
                </div>
            
            </div>


        </div>

        <div class="container" id="container">

            <script>
                const width = window.innerWidth;
                if(width > 480){
                    var element = document.getElementById("container");
                    element.classList.add("displaynone");
                    var newElement = document.getElementById("desktop");
                }
                if(width < 480){
                    var element = document.getElementById("desktop");
                    element.classList.add("displaynone");
                }

            </script>
