<%- include("header"); -%>

<div class="home">

    <nav class="home-navword">
        <h3>iRent</h3>
    </nav>

    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img src="/img/Landing Page 1.jpg">
            </div>
            <div class="img-container">
                <img src="/img/img2.jpg">
            </div>
            <div class="img-container">
                <img src="/img/img3.png">
            </div>
        </div>
    </div>

    <div class="home-slogan">
        <h1>A New Wave of <br> Living</h1>
    </div>

    <div class="addrent-container">

        <h4 class="addrent-qoute">Hey there!</h4>

        <div class="addhome-button">
            <button class="button-17 rent-home "><a href="/renthome">Rent Home</a></button>
            <button class="button-17 add-home"><a href="/addhome">Add Home</a></button>
        </div>

    </div>


    
</div>
